<?xml version="1.0"?>

<robot name="graspeurdf" xmlns:xacro="http://www.ros.org/wiki/xacro">
    
    <!-- theta1 limits -->
    <xacro:arg name="theta1_max" default="3.1415"/>
    <xacro:arg name="theta1_min" default="-3.1415"/>

    <!-- theta2 limits -->
    <xacro:arg name="theta2_max" default="3.1415"/>
    <xacro:arg name="theta2_min" default="-3.1415"/>

    <!-- d3 limits -->
    <xacro:arg name="d3_max" default="0.5"/>
    <xacro:arg name="d3_min" default="0.0"/>

    <!-- theta4 limits -->
    <xacro:arg name="theta4_max" default="1.5707"/>
    <xacro:arg name="theta4_min" default="-1.5707"/>

    <!-- ros2 control -->
    <ros2_control name="RobotSystem" type="system">

        <xacro:if value="$(arg is_ignition)">
            <hardware>
                <plugin>ign_ros2_control/IgnitionSystem</plugin>
            </hardware>
        </xacro:if>

        <xacro:unless value="$(arg is_ignition)">
            <hardware>
                <plugin>gz_ros2_control/GazeboSimSystem</plugin>
            </hardware>
        </xacro:unless>

        <joint name="theta1">
            <command_interface name="position">
                <param name="min">3.1415</param>
                <param name="max">-3.1415</param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>

        <joint name="theta2">
            <command_interface name="position">
                <param name="min">3.1415</param>
                <param name="max">-3.1415</param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>

        <joint name="d3">
            <command_interface name="position">
                <param name="min">0.5</param>
                <param name="max">0.0</param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>

        <joint name="theta4">
            <command_interface name="position">
                <param name="min">1.5707</param>
                <param name="max">-1.5707</param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>

    </ros2_control>

</robot>